<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-post</title>
    <link href="styles/main.css" rel="stylesheet"/>

</head>
<body>
    <div class="header">
        <form class="header" action="/" method="GET">
            <input class="button" type="submit" value="Home">
        </form>

        <form class="header" action="/new" method="GET">
            <input class="button" type="submit" value="Create New Post">
        </form>

        <form class="header" action="https://www.google.com/search" target="_blank">
            <input type="hidden" name="q" value="banana">
            <input type="hidden" name="tbm" value="isch">
            <input class="button" type="submit" value="Banana">
        </form>
        
        <form class="header" action="/about" method="GET">
            <input class="button" type="submit" value="About">
        </form>
    </div>
</body>
</html>