<%- include("partials/header.ejs") %>

<section class="about">
    <h1>About Me:</h1>
    <h2>Who am I?</h2>
    <p>My name is Kasidet Uthaiwiwatkul. I'm studying in Software and Knowledge Engineering at Kasetsart University.</p>
    
    <h2>Why did I create this website?</h2>
    <p>I created this website because I want to improve my web development skills.</p>

    <h2>Contact:</h2>
    <p>Email: ichigamer111th@gmail.com</p>
    <p>Facebook: Kasidet Uthaiwiwatkul</p>
</section>

<%- include("partials/footer.ejs") %>
