<%- include("partials/header.ejs") %>


<h1 class="home">Welcome to Blog-Post website!</h1>



<form action="/submit" method="POST">
    <h3 id="search">Search:</h3>
    <input class="text-box" type="text" name="post-header" placeholder="Type your post title here...">
    <input class="search button" type="submit" value="Search">
</form>

<div class="post container">

    <% if (data != []) { %>
        <% for (let i=0; i < data.length; i++) { %>
            <post>
                <a href="https://youtu.be/clU8c2fpk2s?si=iVFVjgA_1j7duOVo"><%= data[i] %> </a>
            </post>
        <% } %>
    <% } else {%>
        <post></post>
    <% } %>
    
</div>

<%- include("partials/footer.ejs") %>