<%- include("partials/header.ejs") %>

<h1>Welcome to Blog-post website!</h1>

<form action="/submit" method="POST">
    <input class="text-box" type="text" name="post-header" placeholder="Type your post title here...">
    <input class="button" type="submit" value="Search">
</form>

<div class="post container">

    <% if (data != []) { %>
        <% for (let i=0; i < data.length; i++) { %>
            <post>
                <p><%= data[i] %> </p>
            </post>
        <% } %>
    <% } else {%>
        <post></post>
    <% } %>
    
</div>

<%- include("partials/footer.ejs") %>