head {
    height: 100vh;
}

body {
    background-color: #01162e;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #001226;
    
    grid-column: 1/-1;
    grid-row: 1;

    height: 8rem;


}

.header > .button {
    color: white;
    border: 0px;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;

    
}

h1.home {
    color: white;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;

    height: 0.1rem;
}

form > .search{
    grid-column: 3;
    grid-row: 3;
    justify-self: center;

}

form > .page{
    grid-column: 3;
    grid-row: 4;
    justify-self: center;

}

.feature-title {
    color: white;
}

/* text box css */
.text-box {
    height: 2rem;
    width: 20rem;
    
    color: white;
    background-color: black;

    border: 2px solid #565b5e;
    border-radius: 8px;
    margin-right: 10px;
}

.new > form >.text-box {
    width: 100%;
    margin-bottom: 10px;
}

#content-box {
    height: 200%;
}

.text-box::placeholder {
    padding-left: 5px;
}

textarea {
    padding-top: 10px;
    resize: none;
}

/* button CSS */
.button {
    background-color: #2596be;
    color: white;

    border: none;
    border-radius: 12px;
    height: 2rem;
}

#newpost-button {
    width: 100%;
    height: 2.2rem;

    font-size: 1rem;
}

.feature > form > .button {
    width: 10rem;
}

/* all container CSS */
.container {
    background-color: #001226;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
}
.post.container {
    height: 60vh;

    /* Grid here */
    grid-column: 2;
    grid-row: 3;
}

.feature.container {
    height: 34vh;

    /* Grid here */
    grid-column: 3;
    grid-row: 3;
}

.new.container {
    height: 70vh;

    /* Grid here */
    grid-column: 2;
    grid-row: 3;
}

post > a {
    background-color: #2596be;
    color: white;

    padding-left: 10px;
    padding-right: 10px;

    text-align: left;
    border-radius: 8px;

    flex: 1;
    display: block;

    height: 1.5rem;

}