head {
    height: 100vh;
}

body {
    background-color: #01162e;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #001226;
    
    grid-column: 1/-1;
    grid-row: 1;

    height: 8rem;


}

.header > .button {
    color: white;
    border: 0px;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;

    
}

h1.home {
    color: white;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;

    height: 0.1rem;
}

form {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;

}

#search {
    color: white;
}

.text-box {
    height: 2rem;
    width: 20rem;
    
    background-color: black;

    border: 2px solid #565b5e;
    border-radius: 8px;
    margin-right: 10px;
}

.search {
    background-color: #2596be;
    color: white;

    border: none;
    border-radius: 12px;
    height: 2rem;
    width: 10rem;
}

.container {
    /* background-color: #808080; */
    background-color: #001226;
    height: 50vh;
    padding: 25px;
    box-sizing: border-box;
 
    display: flex;
    flex-direction: column;
    gap: 15px;

    /* Grid here */
    grid-column: 2;
    grid-row: 4;
}

post > a {
    background-color: #2596be;
    color: white;

    padding-left: 10px;
    padding-right: 10px;

    text-align: left;
    border-radius: 8px;

    flex: 1;
    display: block;

    height: 1.5rem;

}