head {
    height: 100vh;
}

body {
    background-color: #01162e;
    color: white;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;    
    
    grid-template-rows: auto; /* Let rows size based on content */
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #001226;
    
    grid-column: 1/-1;
    grid-row: 1;

    height: 8rem;


}

.header > .button {
    color: white;
    border: 0px;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;

    
}

.footer {
    background-color: #001226;
    grid-column: 1/-1;
    grid-row: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}



h1.home {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;

    height: 0.1rem;
}

form > .search{
    grid-column: 3;
    grid-row: 3;
    justify-self: center;

}

form > .page{
    grid-column: 3;
    grid-row: 4;
    justify-self: center;

}

/* text box css */
.text-box {
    height: 2rem;
    width: 20rem;
    
    color: white;
    background-color: black;

    border: 2px solid #565b5e;
    border-radius: 8px;
    margin-right: 10px;
}

.new > form >.text-box {
    width: 100%;
    margin-bottom: 10px;
}

#content-box {
    height: 165%;
}

.text-box::placeholder {
    padding-left: 5px;
}

textarea {
    padding-top: 10px;
    resize: none;
}

/* button CSS */
.button {
    background-color: #2596be;
    color: white;

    border: none;
    border-radius: 12px;
    height: 2rem;
}

#newpost-button {
    width: 100%;
    height: 2.2rem;

    font-size: 1rem;
}

.feature > form > .button {
    width: 10rem;
}

/* all container CSS */
.container {
    background-color: #001226;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
}
.post.container {
    height: 60vh;

    /* Grid here */
    grid-column: 2;
    grid-row: 3;
}

post > a {
    background-color: #2596be;
    color: white;
    text-decoration: none;

    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: left;
    border-radius: 8px;

    flex: 1;
    display: block;

    height: 1.5rem;

}

/* page number text */
.post > p {
}

.feature.container {
    height: 34vh;

    /* Grid here */
    grid-column: 3;
    grid-row: 3;
}

.new.container {
    height: 68vh;

    /* Grid here */
    grid-column: 2;
    grid-row: 3;
}

.cur.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;


    padding-left: 150px;
    padding-right: 150px;

    margin: 50px;

    min-height: 100vh;
    /* height: auto; */

    /* Grid here */
    grid-column: 1/-1;
    grid-row: 2/-1;
}

.cur > h1 {
    font-size: 3rem;
    white-space: normal; /* Ensure text wraps */
    overflow-wrap: break-word; /* Break long words if necessary */
    word-wrap: break-word; /* For legacy browsers */
}

.cur > p {
    font-size: 2rem;
    white-space: normal; /* Ensure text wraps */
    overflow-wrap: break-word; /* Break long words if necessary */
    word-wrap: break-word; /* For legacy browsers */
}


/* about webpage */

.about{
    margin-left: 8rem;
    height: 80vh;

    grid-column: 1 / -1;
    grid-row:  2 / -1;
}

.about >h1 {
    font-size: 3rem;
}

.about > h2 {
    font-size: 2rem;
    margin-bottom: auto;
}

.about > p {
    font-size: 1.5rem;
    margin-bottom: auto;
}